@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap");
.footer {
  width: 100%;
  left: 0;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Montserrat", sans-serif; }

.social {
  width: 2rem;
  height: 2rem; }
  .social:hover {
    cursor: pointer; }

.video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; }
  .video__myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    background-position: left;
    width: 100%;
    height: calc(100% - 4rem); }

.image {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }

.navBar {
  min-width: 100vh;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  font-family: "Montserrat", sans-serif; }
  .navBar__logo {
    width: 11rem;
    height: 4rem; }
  .navBar__list {
    list-style: none;
    display: flex; }
  .navBar__items {
    margin: 0 2rem 0 11rem; }
    .navBar__items:hover {
      cursor: pointer; }
  .navBar__link {
    color: inherit;
    text-decoration: none; }

*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0; }

html,
body {
  min-height: 100vh; }

body {
  background: rgba(219, 228, 221, 0.29);
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }
