@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap");
body {
  background-color: rgba(219, 228, 221, 0.29); }

.containerChef {
  display: grid;
  grid-template-columns: 1fr 1.6fr 1fr;
  grid-template-rows: repeat(2, 0.5fr);
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;
  height: 400px; }
  .containerChef__text1 .containerChef__text5 {
    grid-area: 1 / 1 / 2 / 2; }
  .containerChef__image {
    grid-area: 1 / 2 / 3 / 3; }
  .containerChef__text2 .containerChef__text6 {
    grid-area: 1 / 3 / 2 / 4; }
  .containerChef__text3 .containerChef__text7 {
    grid-area: 2 / 1 / 3 / 2; }
  .containerChef__text4 .containerChef__text8 {
    grid-area: 2 / 3 / 3 / 4; }

p {
  display: grid;
  height: 100%;
  justify-items: center;
  align-items: center;
  background-color: white; }

.containerChef__image {
  width: 100%;
  height: 100vh;
  min-width: 100px; }

.container__text5 {
  display: none; }

.container__text6 {
  display: none; }

.container__text7 {
  display: none; }

.container__text8 {
  display: none; }

.container__text1:hover {
  display: none; }

.container__text2:hover {
  display: none; }

.container__text3:hover {
  display: none; }

.container__text4:hover {
  display: none; }

/*.container__text5:hover {
    display: inline;
}*/
/* marges sur les blocs ne fonctionnent pas
.container__text1 {
    margin-top: 1 rem;
}*/
/*
div 1 opacité passe à 0 
div 2 opacité passe à 100%*/
.navBar {
  min-width: 100vh;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  font-family: "Montserrat", sans-serif; }
  .navBar__logo {
    width: 11rem;
    height: 4rem; }
  .navBar__list {
    list-style: none;
    display: flex; }
  .navBar__items {
    margin: 0 2rem 0 11rem; }
    .navBar__items:hover {
      cursor: pointer; }

*,
*::before,
*::after {
  box-sizing: border-box; }

* {
  margin: 0; }

html,
body {
  min-height: 100vh; }

body {
  background: rgba(219, 228, 221, 0.29);
  padding: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }
