      
    body {
        background-color: rgba(219, 228, 221, 0.29);    
    }

      .containerChef {
        display: grid;
        grid-template-columns: 1fr 1.6fr 1fr;
        grid-template-rows: repeat(2, 0.5fr);
        grid-column-gap: 1.5rem;
        grid-row-gap: 3rem;
        height: 400px;
        
        &__text1 { grid-area: 1 / 1 / 2 / 2; }
        &__image { grid-area: 1 / 2 / 3 / 3; }
        &__text2 { grid-area: 1 / 3 / 2 / 4; }
        &__text3 { grid-area: 2 / 1 / 3 / 2; }
        &__text4 { grid-area: 2 / 3 / 3 / 4; }
    }

   p { 
    display: grid;
    height: 100%;
    justify-items: center;
    align-items: center;
    background-color: white;
}

.containerChef__image {
    width: 350px;
    height: 500px;
    margin-left: 0.7rem;
}

/*comment faire avec l'image du milieu : si je l'enlève des div, la structure du grid n'est plus là. 
et si je la laisse, elle sera sensible au hover*/



.container__text5 
.container__text6  
.container__text7
.container__text8 {
    opacity: 0;
}


.container__text5 
.container__text6  
.container__text7
.container__text8 {
    opacity: 0;
}




/* marges sur les blocs ne fonctionnent pas
.container__text1 {
    margin-top: 1 rem;
}*/

/*
div 1 opacité passe à 0 
div 2 opacité passe à 100%*/