  //création de la grid pour le container//
  .containerChef {
            display: grid;
            grid-template-columns: 1fr 1.6fr 1fr;
            grid-template-rows: repeat(2, 0.5fr);
            grid-column-gap: 1rem;
            grid-row-gap: 2rem;
            margin-left: 2rem;
            margin-top: 3rem;

//placement des blocs dans la grid//
        div {
            height: 13rem;
            width: 13rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
        }

//création des hover pour faire disparaître les titres et apparaître le texte//
        &__title { 
            position: absolute; 
        &:hover {
                opacity: 0;
            }  
        &__:hover + &__text {
            opacity: 1;
        } 
        }

       &__text {
        padding : 1rem;
        } 

//placement de l'image dans la grid et fixer sa taille//
        &__image {
            grid-area: 1/2/3/3;
            width: 26rem;
            height: 40rem;
        } 
    }