<<<<<<< HEAD
 body {
    background-color: rgba(228, 220, 219, 0.29);
 }
 
p {
    font-family: helvetica;
    font-weight: lighter;
    background-color: white;
    font-size: 18px;
    margin: 70px;
    padding: 30px;
}
.contact {
&__form {
    font-family: helvetica;
    font-weight: lighter;
    justify-content: center;
}
}

form {
display: flex;
flex-direction: column;
margin: 50px;
}

#name {
padding: 15px;
}
#firstname {
    padding: 15px;
}
#Mail {
    padding : 15px;
}
#date {
    padding: 15px;
}
#message {
    padding: 15px;
.contact {
    &__form {
        font-family: Helvetica;
        font-weight: lighter; 
        display:flex;
        flex-direction: column;
        align-items: center;    
        margin: auto;  
        &__input {
            padding: 10px;
            background: rgba(255, 118, 5, 0);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.3);
            margin-top: 20px;
            margin-bottom: 20px;
            width: 50%;
            outline: none;
        } 
        textarea {
            font-family: Helvetica;
            resize: none;
        }
            input:focus {
            border: 2px solid rgb(219, 228, 221);        
        }
            input:focus::placeholder{
                color: transparent;
            }
            textarea:focus {
            border: 2px solid rgb(219, 228, 221); 
        }
    }
    &__text {
        font-size: 18px;
        padding: 30px;
        background: rgba(255, 255, 255, 0.13);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        display:flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        width: 50%;
    }
}
#submit {
    border: none;
    font-size: small;
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.205);   
}
#submit:hover {
    background:rgb(219, 228, 221);
}
=======
.contact {
    &__form {
        font-family: Helvetica;
        font-weight: lighter;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin: 50px;
        &__input {
            padding: 5px;
        background: rgba(255, 255, 255, 0.13);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        }    
    }
    &__text {
        font-size: 18px;
        margin: 70px;
        padding: 30px;
        background: rgba(255, 255, 255, 0.13);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
}
>>>>>>> 696f183 (STYLE: MAJ du scss + tentative de JS pour le submit button)
