// >> Homepage hero page
.hero {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: -1;

  &__video {
    position: absolute;
    max-width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: left;
  }
}
