.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  &__video {
    position: fixed;
    right: 0;
    bottom: 0;
    background-position: left;
    width: 100vw;
    // height: calc(100% - 4rem);
  }
}

.image {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
}