.plate {
  float: left;
  padding: 1rem 1rem 1rem 0.2rem;
  margin-bottom: 3rem;
}

h2 > text {
  float: right;
}

h2 {
  text-align: center;
  padding: 3rem 0 1rem;
}

.text {
  text-align: justify;
  letter-spacing: 10%;
  font-size: 0.9rem;
  line-height: 1.3;
  padding-right: 1rem;
}

.presentationResto {
  text-align: justify;
  text-justify: inter-word;
}

.link {
  color: black;
}

a:hover {
  color: rgb(47, 153, 47);
}

#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@media all and (max-width: 1300px) {
  #slider figure {
    width: 500%;
  }
}

@media all and (max-width: 1000px) {
  #slider figure {
    width: 500%;
  }
}

@media all and (max-width: 1000px) {
  .plate {
    width: 100%;
  }
}

@media all and (max-width: 1300px) {
  .slide {
    width: 100%;
    height: 400px;
  }
}
@media all and (max-width: 1000px) {
  .slide {
    width: 100%;
    height: 300px;
  }
}
