p {
    font-family: Helvetica;
    font-weight: lighter;
    letter-spacing: 10%;
    font-weight: 1.1rem;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
<<<<<<< HEAD
nav {
    font-family: montserrat regular; //j'ai download la police mais ça marche pas
    font-weight: 1.5rem;
}
footer {
    font-family: montserrat regular;
    font-weight: 1.1rem;
}
title {
    font-family: montserrat regular;
    font-weight:1.5rem;
}
=======
>>>>>>> 696f183 (STYLE: MAJ du scss + tentative de JS pour le submit button)

// a deplacer
// nav {
// font-family: montserrat regular; //j'ai download la police mais ça marche pas
//   font-weight: 1.5rem;
//}
//footer {
//    font-family: montserrat regular;
//    font-weight: 1.1rem;
//}
//title {
//    font-family: montserrat regular;
//    font-weight:1.5rem;
<<<<<<< HEAD
//}
=======
//}
>>>>>>> 696f183 (STYLE: MAJ du scss + tentative de JS pour le submit button)
