@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100&display=swap%22');

p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 10%;
    font-size: 0.9rem;
    line-height: 1.3;
    padding: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
   
}

footer {
    font-family: 'Montserrat', sans-serif;
   
}